.contacto__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    height: 650px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.contacto__texto{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.contacto__boton{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: #428c53;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition : 0.6s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.contacto__boton:hover{

transition : 0.7s;
background-color: #fff;
color: #428c53;
border: none;
}

.contacto__horario{
    margin-top: 30px;
    width: 500px;

}

.contacto__horario__titulo{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.contacto__horario__dia{
    font-weight: bolder;
    font-size: large;
    display: flex;
    align-items: center;
}

.contacto__horario__hora{
    display: flex;
    align-items: center;
}

.contacto__horario__contenedor{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contacto__horario__contenedor::after{
    content: '';
    position: absolute;
    left: 0; 
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: rgb(160, 160, 160);
}

@media (max-width: 1040px) {
    .contacto__horario__titulo{
        font-size: large;
    }
    .contacto__horario__dia{
        font-size: medium;
    }
}

@media (max-width: 610px) {
    .contacto__horario{
        width: 300px;
    }
}
